
/*/////////////// Медиа запросы для главной страницы */
@media screen and (max-width: 1320px) {
    .book--text4 {
        padding: 14px 0 0 42px;
    }
    .book--text5 {
        padding: 14px 0 0 45px;
    }
    .book--text3 {
        padding: 14px 10px 0 46px;
    }
    .book--text2 {
        padding: 14px 40px 0 30px;
    }
    .book--text1 {
        padding: 14px 30px 0;
    }
    .fermer {
        height: 246px;
    }
    .invite--txt {
        position: initial;
        z-index: 2;
    }   
    .footer--img {
        max-width: 17%;
    }
    .yandex--img {
        margin-left: 180px;
    }
}
@media screen and (max-width: 1260px) {
    .quations--container {
        justify-content: center;
        flex-wrap: wrap;
    }
    .footer--extra {
        padding: 0 10px;
    }
    .product--detail div {
        height: 60px;
    }
    .product--detail .pod--menu {
        width: auto;
    }
    .product--image img {
        width: 100%;
    }
    .no--width img {
        width: auto;
    }
    .product--detail p {
        font-size: 10px;
        line-height: 10px;
    }
}
@media screen and (max-width: 1226px) {
    .product--detail {
        margin: 0 2px;
    }
    #main--slider {
        padding-top: 260px;
    }
}
@media screen and (max-width: 1100px) {
    .footer {
        padding: 20px;
    }
    .footer--img {
        display: none;
    }
    .yandex--img {
        margin-left: 0;
    }
    .invite--txt {
        font-size: 40px;
        line-height: 40px;
    }
    .menu--item a {
        font-size: 16px;
    }
    .one,
    .two,
    .catalog,
    .blog {
        height: 46px;
    }
    .height {
        height: 34px;
    }
    .search--block {
        top: -60px;
    }
    .book--block {
        background-size: cover;
        background-position: center;
        margin-bottom: 20px;
    }
    #books--section {
        flex-wrap: wrap;
        justify-content: center;
    }
    .book--text2 {
        padding: 14px 40px 0 14px;
    }
    .kartochka--tovara {
        padding: 240px 20px 20px;
    }
    .kartochka--right--block {
        padding: 8px 0 0 20px;
    }
}
@media screen and (max-width: 1040px) {
    .center--slider,
    .center--block {
        height: 230px;
    }
    .check--block--right {
        justify-content: center;
    }
    .check--block--item {
        margin: 5px;
    }
}
@media screen and (max-width: 1000px) {
    .check--block--right {
        justify-content: center;
    }
    .check--block--left {
        width: 25%;
    }
    .check--block--right {
        width: 75%;
    }
}
@media screen and (max-width: 996px) {
    .search--input {
        width: 125px;
    }
    .center--block--txt {
        font-size: 30px;
    }
}
@media screen and (max-width: 980px) {
    .menu--item a {
        font-size: 14px;
    }
    #main--slider {
        align-items: flex-start;
    }
    .video--img,
    .video--block {
        height: 222px;
    }
    .kartochka--cost {
        font-size: 40px;
    }
    .kartochka--cost span {
        font-size: 24px;
    }
    .kartochka--buttons span {
        font-size: 14px;
    }
    .kartochka--right--title {
        font-size: 27px;
        line-height: 27px;
    }
    .span-date {
        font-size: 18px;
        width: 150px;
        padding: 5px 10px;
    }
    .date--slide {
        bottom: 20px;
        left: 0;
    }
}
@media screen and (max-width: 970px) {
    .logo img {
        width: 70%;
    }
    .phone--data {
        padding: 4px 0 4px 180px;
    }
    .phone--number {
        font-size: 30px;
    }
    .dostavka--data {
        font-size: 14px;
    }
    .dostavka--data span {
        font-size: 16px;
    }
    .menu--wrapper {
        align-items: flex-start;
    }
    .fermer--menu {
        line-height: 11px;
    }
    .fermer .extra--class2 {
        padding-right: 70px;
    }
    .center--slider,
    .center--block {
        height: 200px;
    }
    .zakazy--container {
        flex-direction: column;
        padding: 0;
    }
    .zakazy--block {
        width: 100%;
    }
    .zakaz--title {
        border-top: 1px solid #c1c5c8;
        padding: 7px 10px 7px;
    }
    .zakaz--txt {
        padding: 2px 10px 5px;
    }
    .profile--container {
        padding-right: 0;
    }
}
@media screen and (max-width: 862px) {
    .product--detail div {
        height: 50px;
    }
    .center--slider,
    .center--block {
        height: 160px;
    }
    .product--detail .pod--menu {
        width: auto;
    }
    .no--width img {
        width: 50%;
    }
    .no--width--extra img {
        width: 77%;
    }
    .product--detail p {
        font-size: 8px;
        line-height: 8px;
    }
    #main--slider {
        padding-top: 220px;
    }
    .menu--fixed div {
        width: 60px;
    }
}
@media screen and (max-width: 830px) {
    .yandex--img img {
        width: 100%;
    }
    .select {
        padding: 4px 0 2px;
    }
    .right--menu {
        font-size: 14px;
    }
    .right--menu div {
        margin: 0 4px;
        padding-top: 4px;
    }
    .kor--img {
        width: 50px;
    }
    .kor--img img {
        width: 100%;
    }
    .fermer p {
        bottom: 26px;
    }
    .menu--fixed div {
        width: 51px;
    }
    .kartochka--tovara {
        padding: 210px 20px 20px;
    }
    .profile--block {
        margin-right: 15px;
    }
}
@media screen and (max-width: 767px) {
    .menu--catalog--mob {
        display: block;
    }
    .author {
        width: auto;
    }
    .kartochka--name {
        font-size: 13px;
        left: 16px;
        bottom: 22px;
    }
    .product--detail p {
        font-size: 8px;
        line-height: 7px;
    }
    .product--image--mob img {
        width: 40%;
    }
    .hehe img {
        width: 27%;
    }
    .product--detail div {
        height: auto;
    }
    .mobile--hutor {
        display: flex;
    }
    #mobile {
        display: block;
    }
    .product--slider--img img {
        margin: 12px;
    }
    .back--fon {
        margin: 0 auto;
    }
    .bloock {
        left: 58px;
    }
    #header {
        display: none;
    }
    #main--slider {
        padding: 0 0 20px 0;
    }
    .center--slider,
    .center--block {
        width: 100%;
        height: 270px;
        background-position: center;
    }
    .center--block--txt {
        padding: 70px 20px 20px 70px;
    }
    .mobile--block {
        display: flex;
    }
    #video--section {
        padding-top: 0;
    }
    .mob--shadow {
        display: block;
    }
    .video--block {
        height: 170px;
    }
    .products--sliders--title {
        text-align: center;
    }
    #quations,
    #catalog--section,
    .footer,
    #books--section,
    .left--block,
    .right--block,
    .hutor--title {
        display: none;
    }
    .invite--img img {
        max-width: 100%;
    }
    .catalog--products {
        padding: 30px 20px 70px;
    }
    .catalog--product--moloko {
        flex-direction: column;
    }
    .check--block--right,
    .check--block--left {
        width: 100%;
    }
    .check--block--left {
        display: flex;
        justify-content: space-around;
        align-items: flex-start;
    }
    .check--border--block {
        padding: 7px;
        width: 166px;
        margin-top: 20px;
    }
    #ferma {
        padding: 4px 10px 4px 4px;
    }
    .block--check {
        padding-left: 0;
    }
    .kartochka--tovara {
        padding: 40px 20px 20px;
    }
    .kartochka--container {
        flex-direction: column;
    }
    .kartochka--left,
    .kartochka--right,
    .kart--right {
        width: 100%;
    }
    .kartochka--video {
        display: none;
    }
    .video--links {
        margin-left: 10px;
    }
    .kartochka--right--block {
        padding-left: 0;
    }
    .own--room {
        padding: 30px 20px 20px;
    }
    .zakazy--container {
        margin: 0;
    }
    .profile--container {
        flex-direction: column;
        padding: 0;
    }
    .profile--block {
        width: 70%;
    }
}
@media screen and (max-width: 590px) {
    .bloock {
        left: 24px;
    }
    .check--block--item {
        width: 240px;
        height: 300px;
        padding: 25px 30px 0 26px;;
    }
    .check--block--right {
        justify-content: space-around;
    }
}
@media screen and (max-width: 576px) {
    .invite--txt {
        font-size: 25px;
        line-height: 25px;
    }
    .center--slider,
    .center--block {
        height: 180px;
    }
    .center--block--txt {
        padding: 30px 20px 20px 70px;
    }
    .left {
        width: 100px;
    }
    .mob__korzina {
        width: 52px;
    }
    .mob__korzina img {
        max-width: 100%;
    }
    #mobile--header {
        padding: 7px 20px;
    }
    .product--slider--img img {
        margin: 4px;
    }
    .products--sliders--title {
        font-size: 27px;
    }
    .fermer {
        margin: 0 5px;
    }
    .profile--block {
        width: 100%;
    }
    .own--room {
        padding: 30px 10px 20px;
    }
    .profile--block {
        margin-right: 0;
    }
    .my--balane {
        padding-left: 28px;
    }
}
@media screen and (max-width: 540px) {
    .block--check {
        padding-right: 5px;
    }
    .catalog--product--content {
        width: 130px;
    }
    .catalog--product--container {
        margin-top: 20px;
    }
    .catalog--product--block {
        width: 170px;
        height: 150px;
        margin-top: 0;
    }
    .catalog--product--title {
        font-size: 12px;
        line-height: 10px;
        padding-top: 2px;
    }
    .catalog--products {
        padding: 30px 10px 70px;
    }
    .catalog--moloko {
        padding-bottom: 20px;
    }
    .my--balance--icon span {
        font-size: 21px;
    }
}
@media screen and (max-width: 520px) {
    .product--slider {
        margin: 0 10px;
    }
    .product--slider--img img {
        margin: 4px 0 0;
    }
    .product--slider--title {
        margin: 0;
        font-size: 11px;
    }
    .bloock {
        top: 22px;
    }
    .product--slider--cost {
        margin-left: 0;
        font-size: 13px;
        margin-top: 2px;
    }
    .product--slider--cost .no--cost {
        font-size: 13px;
    }
    .product--slider--cost .no--cost::before {
        top: 5px;
        height: 1px;
    }
    .product--slider--date span {
        font-size: 8px;
        margin-right: 4px;
        width: 18px;
        height: 17px;
    }
    .select,
    .select option
     {
        font-size: 9px;
        border: 1px solid #c1c5c8;
    }
    .icons span {
        margin-left: 4px;
        width: 24px;
    }
    .icons span img {
        width: 100%;
    }
    .icons span:last-child img {
        width: 66%;
    }
    .right--arrow,
    .left--arrow {
        width: 6%;
    }
    .play--video img {
        width: 60%;
    }
    .check--block--item {
        width: 180px;
        height: 210px;
    }
    .check--block--right {
        justify-content: space-around;
    }
    .check--item--extra {
        line-height: 10px;
    }
    .product--slider--num,
    .check--flex {
        align-items: flex-start;
    }
    .check--item--korzina img {
        max-width: 95%;
    }
    .check--item--korzina {
        margin-left: 4px;
        text-align: right;
        width: 20px;
    }
    .check--block--item {
        padding: 22px 30px 0 26px;
    }
    .form--block {
        width: 100%;
    }
}
@media screen and (max-width: 450px) {
    .product--slider--title {
        line-height: 10px;
    }
    .cc {
        line-height: 10px;
    }
    .fermer {
        height: 200px;
    }
    .fermer .extra--class2 {
        padding: 0 20px 0 7px;
    }
    .fermer p {
        bottom: 20px;
    }
    .product--slider--icons {
        margin-left: 0;
    }
    .bottom--right,
    .top--left {
        width: 22%;
    }
    .bottom--right {
        right: 0;
        bottom: -10px;
    }
    .span-date {
        font-size: 12px;
        width: 112px;
        margin-bottom: 5px;
    }
    .kartochka--slider--container .slick-dots {
        bottom: -27px;
    }
    .input--focus input, .input--focus {
        width: 204px;
    }
    #tel--width {
        width: 148px;
        margin-left: 3px;
    }
    .input--focus textarea {
        width: 204px;
    }
    .input--focus3 {
        width: 181px;
    }
    .selectator_selected_item .selectator_value_1 {
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }
    .selectator_element.single {
        padding: 2px !important;
    }
    .single .selectator_selected_items .selectator_selected_item .selectator_selected_item_title, .selectator_option_title {
        font-size: 12px;
        margin-top: 4px;
    }
    .single .selectator_selected_items .selectator_selected_item .selectator_selected_item_left {
        width: 18px;
        margin-top: 0;
    }
    .single .selectator_selected_items .selectator_selected_item .selectator_selected_item_left img, .selectator_options .selectator_option .selectator_option_left img {
        width: 100%;
        height: auto;
    }
    .selectator_option_left {
        width: 18px;
        margin: 4px 2px 0 0;
    }
    .selectator_options .selectator_option .selectator_option_title {
        margin-left: 3px;
    }
}
@media screen and (max-width: 440px) {
    .bloock {
        left: 19px;
    }
    .product--slider--icons {
        margin-left: 0;
    }
    .icons span {
        width: 24px;
    }
    .product--slider--date span {
        width: 13px;
        height: 12px;
        font-size: 7px;
    }
    .check--block--right {
        justify-content: space-between;
    }
}
@media screen and (max-width: 430px) {
    .product--slider--date span {
        font-size: 6px;
        margin-right: 2px;
        padding: 3px;
    }
    .select {
        font-size: 8px;
        padding: 2px 0 0;
    }
    .select option {
        font-size: 8px;
    }
    .icons span {
        width: 20px;
    }
    .extra {
        top: 20px;
    }
    .extra .product--slider--title {
        line-height: 10px;
        padding-right: 10px;
    }
}
@media screen and (max-width: 410px) {
    .kartochka--tovara {
        padding: 40px 10px 20px;
    }
    .kartochka--order {
        flex-wrap: wrap;
    }
    .kartochka--order {
        height: 75px;
    }
}
@media screen and (max-width: 400px) {
    .product--slider--title {
        font-size: 10px;
    }
    .product--slider--cost span {
        font-size: 7px;
    }
    .product--slider--cost,
    .product--slider--cost .no--cost {
        font-size: 10px;
    }
    .icons span {
        width: 18px;
    }
    .product--slider {
        margin: 0 5px;
    }
    .product--image--mob img {
        width: 37%;
    }
    .check--block--item {
        width: 135px;
        height: 170px;
        padding: 14px 18px 0 20px;
    }
    .check--item--extra {
        font-size: 8px;
        line-height: 8px;
    }
}
@media screen and (max-width: 390px) {
    .invite--txt {
        font-size: 22px;
        line-height: 22px;
    }
    .video--block {
        height: 140px;
    }
    .hutor--right--title {
        font-size: 20px;
    }
    #mobile--header {
        padding: 7px;
    }
    .mobile--logo {
        width: 66px;
    }
    .mobile--logo img {
        max-width: 100%;
    }
    .burger--menu span {
        width: 34px;
        margin: 3px 7px 3px 0;
    }
    .center--block--txt {
        font-size: 26px;
        line-height: 34px;
        padding: 46px 20px 20px 60px;
    }
    .mob--catalog--text {
        padding-left: 12px;
    }
    .mobile--catalog {
        padding: 14px 15px 14px 8px;
    }
    .select {
        display: flex;
        align-items: center;
    }
    .fermer {
        height: 160px;
    }
    .fermer p {
        bottom: 12px;
        font-size: 12px;
    }
    .mobile--menu--links ul li {
        margin: 5px 0;
        padding: 7px 0;
    }
    .catalog--prod--title {
        font-size: 27px;
    }
    .product--image--mob img {
        width: 33%;
    }
}
@media screen and (max-width: 360px) {
    .catalog--product--block {
        width: 145px;
        height: 142px;
    }
    .catalog--product--content {
        width: 110px;
    }
    .catalog--product--title {
        padding-top: 0;
    }
    .profile--container {
        padding-left: 0;
    }
    .zakazy--container {
        margin-left: 0;
    }
}
@media screen and (max-width: 358px) {
    .product--slider {
        margin: 0;
    }   
    .product--slider--cost,
    .product--slider--cost .no--cost {
        font-size: 8px;
    }
    .cc {
        line-height: 9px;
    }
    .mobile--menu--logo img {
        max-width: 68%;
    }
    .product--detail div {
        width: 67px;
        margin: 0 auto;
    }
    .product--detail p {
        font-family: 'MyriadPro-Regular';
        font-size: 7px;
        line-height: 6px;
    }
}
@media screen and (max-width: 340px) {
    .invite--txt {
        font-size: 20px;
        line-height: 20px;
    }
    .bloock {
        left: 16px;
    }
    .product--slider--img img {
        margin: 0;
        max-width: 79%;
    }
    .center--block--txt {
        padding: 46px 20px 20px 48px;
        font-size: 24px;
    }
    .mob--icons {
        margin-left: 12px;
    }
    .icons span {
        width: 16px;
    }
    .fermer {
        height: 150px;
    }
    .fermer p {
        bottom: 12px;
        line-height: 9px;
        font-size: 10px;
    }
}